*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

#navbar{ 
    display:flex; 
    align-items:center;
    position:sticky;
    top: 0px;
    font-family: 'Anek Tamil', sans-serif;
    font-weight:bold;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.5;
}
/* logo adjustments */

#logo img{
    height: 47px;
    margin: 7px 36px;
}
/* navitagition bar adjustments */
ul{
    display:flex;
}
ul li{
    font-size:1.5rem;
    list-style:none;
}
ul li a{
    color:white;
    display:block;
    padding:2px 40px;
    text-decoration:none;
    border-radius:20px;
}
ul li a:hover{
    color:black;
    background-color:rgb(255, 255, 255);
}
/* home section  */
#home::before{ 
    content: " ";
    background: url(/img/food-366875.jpg) no-repeat center center/cover;
    position:absolute;
    height:100%;
    top:0px;
    left:0px;
    width:100%;
    z-index: -1;
    opacity: 1;
    height: 569px;

}
#home{
    display:flex;
    flex-direction: column;
    padding:10px 250px;
    justify-content:center;
    align-items:center;
    height: 486px;
}
#home h1{
    color:rgba(255, 255, 255,1);
    text-align:center;
}
#home p{
    color: rgb(255, 255, 255);
    text-align:center;
    font-size: 1.2rem;
    padding: 20px 50px;
    line-height: 1.5;
    
}
/* utility classes */
.h-primary{
    font-family: 'Josefin Sans', sans-serif;
    font-size:3.8rem;
    padding:12px 20px;
    text-align:center;
    font-weight:bolder;
}
.btn{
    padding:5px 20px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px 2px;
    background-color:burlywood;
    font-size: 1.1rem;
    cursor: pointer;
    transition:background-color 1s ease-in-out;
}
.btn:hover{
    background-color:white;
    color:red;
    /* font-weight:bold; */
    
}
/* footer */
footer {
    background-color:black;
    color: white;
}